body {
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    margin: 30px 50px;
}

#title > h1 {
    font-size: 3.2rem;
    margin: 0;
}

#title > p {
    margin: 0 3px 0;
}

#game-container {
    display: flex;
    gap: 150px;
    justify-content: center;
}

.cell-content {
    width: 28px;
    height: 28px;
    z-index: 1;
    background-color: #E5F3FF;
}

.cell-content.attacked {
    background-color: #E5F3FF !important;
}

.cell-content.attacked.active {
    background-color: #1490FD !important;
}

.cell-content.active{
    -webkit-box-shadow:inset 0px 0px 0px 2px #1490FD;
    -moz-box-shadow:inset 0px 0px 0px 2px #1490FD;
    box-shadow:inset 0px 0px 0px 2px #1490FD;
}

.drag {
    border: 2px solid #1490FD;
    position: absolute;
    z-index: 2;
    margin: -2px;
    background-color: #C8E4FD;
}

.drag:hover {
    cursor: move;
}

table {
    margin: 50px auto 30px auto;
    border-collapse: collapse;
    background-color: white;
}

.active, .adjacent {
    background-color: white;
}

td {
    border: 1px solid #C8E4FD;
}

#selection {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 320px;
    height: 40px;
    margin: auto;
}

button {
    border: none;
    border-radius: 0;
    padding: 10px;

}

#ai-container {
    display: none;
}

#blocker {
    z-index: -1;
    background-color: lightgrey;
    opacity: 50%;
    width: 310px;
    height: 310px;
    position: absolute;
    margin-top: 50px;
}

.ai-cell {
    width: 28px;
    height: 28px;
}

.ai-cell:hover{
    cursor: crosshair;
    -webkit-box-shadow:inset 0px 0px 0px 2px #1490FD;
    -moz-box-shadow:inset 0px 0px 0px 2px #1490FD;
    box-shadow:inset 0px 0px 0px 2px #1490FD;
}

.attacked:hover {
    cursor: default !important;
    background-color: #E5F3FF !important;
}

.attacked.contains-ship:hover {
    cursor: default !important;
    background-color: #1490FD !important;
}

.ai-cell.attacked {
    background-color: #E5F3FF;
}

.ai-cell.contains-ship {
    background-color: white;
}

.ai-cell.attacked.contains-ship {
    background-color:  #1490FD;
}